<section class="flex flex-col justify-center items-center p-5 py-6 bg-[#FAF6EF] mt-16">
  <div class="vin-container w-full text-[#033541] font-red-hat text-center md:text-left">
    <div class="lg:flex lg:justify-between md:justify-between md:items-center mb-1">
      <div class="mt-2">
        <div class="vincu-over-title">Mis ofertas</div>
        <b class="vincu-title">Crea y revisa tus ofertas</b>
      </div>
      <div class="mt-5">
        <button
          class="inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]"
          typ="button">
          <span class=""> Crear nueva oferta </span>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="w-30 items-center jusitify-content-center">
  <section class="bg-[#FAF6EF] flex justify-center items-center w-full p-3 border-t">
    <div class="font-red-hat text-[#095669] text-[16px] el-tooltip__trigger el-tooltip__trigger">
      <span class="font-bold">Todas las ofertas</span>
      <span class="el-tag el-tag--light is-round mx-1 ml-2 font-roboto font-normal text-[12px] bg-[#E2EAE8]"
        id="tagOffers">
        <span class="el-tag__content">23</span>
        <!--v-if-->
      </span>
      <i class="fa-solid fa-chevron-down text-sm ml-2"></i>
    </div>
  </section>
  <section class="flex items-center justify-center p-3">
    <section class='w-9/12 flex-col bg-color-lightgreen'>
      <div class="el-card is-hover-shadow mb-4 cursor-pointer relative card-active" aria-disabled="false"><!--v-if-->
        <div class="el-card__body">
          <div class="flex justify-between">
            <div class="flex text-[10px] text-left -mt-2"><span
                class="el-tag el-tag--light is-round font-roboto font-normal text-[13px] -ml-1 font-bold text-black"
                id="tagListOffers"><span class="el-tag__content">Activa</span></span>
            </div>
            <div class="flex -mt-4 -mr-4">
              <div
                class="rounded-full w-8 h-8 flex justify-center items-center text-black cursor-pointer hover:bg-[#E5EFEA] border-none el-tooltip__trigger el-tooltip__trigger">
                <i class="fas fa-solid fa-ellipsis-vertical text-[18px] text-[#095669]" aria-hidden="true"></i>
              </div>
            </div>
          </div><a href="/ver-oferta" class="">
            <div class="flex justify-between pr-1 pb-3 pt-4">
              <div class="w-full font-red-hat font-bold text-[16px] text-[#095669] leading-5 break-normal">Líder de
                talento
                humano con experiencia en gestión comercial y gerencia estratégica</div>
            </div>
            <div class="flex justify-between">
              <div class="flex flex-wrap text-[#095669] font-roboto text-[14px] opacity-70">
                <div><i class="mr-[0.2rem] fa-solid fa-circle-dollar"></i><span class="font-normal">$1,5 a $2
                    millones</span></div>
                <div class="ml-[1.5rem]"><i class="mr-[0.2rem] fa-sharp fa-solid fa-location-dot"></i><span
                    class="font-normal">Rionegro</span></div>
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex text-[#095669] font-roboto text-[14px] opacity-70 mt-1">
                <div><i class="mr-[0.2rem] fa-solid fa-briefcase"></i><span class="font-normal">Presencial</span></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="el-card is-hover-shadow mb-4 cursor-pointer relative card-validation" aria-disabled="false">
        <!--v-if-->
        <div class="el-card__body">
          <div class="flex justify-between">
            <div class="flex text-[10px] text-left -mt-2"><span
                class="el-tag el-tag--light is-round font-roboto font-normal text-[13px] -ml-1 font-bold text-black"
                id="tagListOffers"><span class="el-tag__content">En Revision</span><!--v-if--></span>
              <div class="font-roboto font-normal text-[12px] text-[#4E717A] mt-[1px]"><span
                  class="ml-1 opacity-50">Enviada
                  a revisión: 2023-05-11 - 11:45</span><span class="ml-1 font-bold"></span></div>
            </div>
            <div class="flex -mt-4 -mr-4">
              <div
                class="rounded-full w-8 h-8 flex justify-center items-center text-black cursor-pointer hover:bg-[#E5EFEA] border-none el-tooltip__trigger el-tooltip__trigger">
                <i class="fas fa-solid fa-ellipsis-vertical text-[18px] text-[#095669]" aria-hidden="true"></i>
              </div>
            </div>
          </div><a href="/ver-oferta" class="">
            <div class="flex justify-between pr-1 pb-3 pt-4">
              <div class="w-full font-red-hat font-bold text-[16px] text-[#095669] leading-5 break-normal">Asistente jr.
                de
                mercadeo en artes gráficas especiales</div>
            </div>
            <div class="flex justify-between">
              <div class="flex flex-wrap text-[#095669] font-roboto text-[14px] opacity-70">
                <div><i class="mr-[0.2rem] fa-solid fa-circle-dollar"></i><span class="font-normal">$1,5 a $2
                    millones</span></div>
                <div class="ml-[1.5rem]"><i class="mr-[0.2rem] fa-sharp fa-solid fa-location-dot"></i><span
                    class="font-normal">Rionegro</span></div>
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex text-[#095669] font-roboto text-[14px] opacity-70 mt-1">
                <div><i class="mr-[0.2rem] fa-solid fa-briefcase"></i><span class="font-normal">Presencial</span></div>
              </div>
            </div><!---->
          </a>
        </div>
      </div>
      <div class="el-card is-hover-shadow mb-4 cursor-pointer relative card-drag" aria-disabled="false"><!--v-if-->
        <div class="el-card__body">
          <div class="flex justify-between">
            <div class="flex text-[10px] text-left -mt-2"><span
                class="el-tag el-tag--light is-round font-roboto font-normal text-[13px] -ml-1 font-bold text-black"
                id="tagListOffers"><span class="el-tag__content">Borrador</span><!--v-if--></span>
              <div class="font-roboto font-normal text-[12px] text-[#4E717A] mt-[1px]"><span
                  class="ml-1 opacity-50">Última
                  edición: 2023-05-11 - 11:45</span><span class="ml-1 font-bold"></span></div>
            </div>
            <div class="flex -mt-4 -mr-4">
              <div
                class="rounded-full w-8 h-8 flex justify-center items-center text-black cursor-pointer hover:bg-[#E5EFEA] border-none el-tooltip__trigger el-tooltip__trigger">
                <i class="fas fa-solid fa-ellipsis-vertical text-[18px] text-[#095669]" aria-hidden="true"></i>
              </div>
            </div>
          </div><a href="/ver-oferta" class="">
            <div class="flex justify-between pr-1 pb-3 pt-4">
              <div class="w-full font-red-hat font-bold text-[16px] text-[#095669] leading-5 break-normal">
                Desarrollador web </div>
            </div>
            <div class="flex justify-between">
              <div class="flex flex-wrap text-[#095669] font-roboto text-[14px] opacity-70">
                <div><i class="mr-[0.2rem] fa-solid fa-circle-dollar"></i><span class="font-normal">$2 a $3
                    millones</span></div>
                <div class="ml-[1.5rem]"><i class="mr-[0.2rem] fa-sharp fa-solid fa-location-dot"></i><span
                    class="font-normal">Rionegro</span></div>
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex text-[#095669] font-roboto text-[14px] opacity-70 mt-1">
                <div><i class="mr-[0.2rem] fa-solid fa-briefcase"></i><span class="font-normal">Presencial</span></div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="el-card is-hover-shadow mb-4 cursor-pointer relative card-refused" aria-disabled="false">
        <div class="el-card__body">
          <div class="flex justify-between">
            <div class="flex text-[10px] text-left -mt-2"><span
                class="el-tag el-tag--light is-round font-roboto font-normal text-[13px] -ml-1 font-bold text-black"
                id="tagListOffers"><span class="el-tag__content">Rechazado</span><!--v-if--></span>
              <div class="font-roboto font-normal text-[12px] text-[#4E717A] mt-[1px]"><span class="ml-1 opacity-50">Si
                  tienes alguna duda contáctanos</span><span class="ml-1 font-bold"></span></div>
            </div>
            <div class="flex -mt-4 -mr-4">
              <div
                class="rounded-full w-8 h-8 flex justify-center items-center text-black cursor-pointer hover:bg-[#E5EFEA] border-none el-tooltip__trigger el-tooltip__trigger">
                <i class="fas fa-solid fa-ellipsis-vertical text-[18px] text-[#095669]" aria-hidden="true"></i>
              </div>
            </div>
          </div><a href="/ver-oferta" class="">
            <div class="flex justify-between pr-1 pb-3 pt-4">
              <div class="w-full font-red-hat font-bold text-[16px] text-[#095669] leading-5 break-normal">Asistente jr.
                de
                bases de datos</div>
            </div>
            <div class="flex justify-between">
              <div class="flex flex-wrap text-[#095669] font-roboto text-[14px] opacity-70">
                <div><i class="mr-[0.2rem] fa-solid fa-circle-dollar"></i><span class="font-normal">$1,5 a $2
                    millones</span></div>
                <div class="ml-[1.5rem]"><i class="mr-[0.2rem] fa-sharp fa-solid fa-location-dot"></i><span
                    class="font-normal">Rionegro</span></div>
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex text-[#095669] font-roboto text-[14px] opacity-70 mt-1">
                <div><i class="mr-[0.2rem] fa-solid fa-briefcase"></i><span class="font-normal">Virtual</span></div>
              </div>
            </div><!---->
          </a>
        </div>
      </div>
      <div class="el-card is-hover-shadow mb-4 cursor-pointer relative card-inactive hover:opacity-90"
        aria-disabled="true">
        <!--v-if-->
        <div class="el-card__body">
          <div class="flex justify-between">
            <div class="flex text-[10px] text-left -mt-2"><span
                class="el-tag el-tag--light is-round font-roboto font-normal text-[13px] -ml-1 font-bold text-black"
                id="tagListOffers"><span class="el-tag__content">Inactiva</span><!--v-if--></span>
              <div class="font-roboto font-normal text-[12px] text-[#4E717A] mt-[1px]"><span
                  class="ml-1 opacity-50">Desde:
                  2023-05-11 - 11:45</span><span class="ml-1 font-bold"></span></div>
            </div>
            <div class="flex -mt-4 -mr-4">
              <div
                class="rounded-full w-8 h-8 flex justify-center items-center text-black cursor-pointer hover:bg-[#E5EFEA] border-none el-tooltip__trigger el-tooltip__trigger">
                <i class="fas fa-solid fa-ellipsis-vertical text-[18px] text-[#095669]" aria-hidden="true"></i>
              </div>
            </div>
          </div><a aria-current="page" href="/mis-ofertas#" class="router-link-active router-link-exact-active">
            <div class="flex justify-between pr-1 pb-3 pt-4">
              <div class="w-full font-red-hat font-bold text-[16px] text-[#095669] leading-5 break-normal">
                Contador Publico.
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex flex-wrap text-[#095669] font-roboto text-[14px] opacity-70">
                <div><i class="mr-[0.2rem] fa-solid fa-circle-dollar"></i><span class="font-normal">$1,5 a $2
                    millones</span></div>
                <div class="ml-[1.5rem]"><i class="mr-[0.2rem] fa-sharp fa-solid fa-location-dot"></i><span
                    class="font-normal">Rionegro</span></div>
              </div>
            </div>
            <div class="flex justify-between">
              <div class="flex text-[#095669] font-roboto text-[14px] opacity-70 mt-1">
                <div><i class="mr-[0.2rem] fa-solid fa-briefcase"></i><span class="font-normal">Virtual</span></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </section>
