<div class="pt-0 lg:pt-20 bg-white">
  <div class="container mx-auto">
    <div class="flex mx-auto shadow-lg overflow-hidden">
      <div class="container__register">
        <h1 class="black text-3xl mb-3 font-bold font-redhat">BIENVENIDO</h1>
        <hr class="bg-white w-1/2">
      </div>
      <div class="w-full py-16 px-12 ">
          <h2 class="text-3xl">Registrate</h2>
        <div class="border border-b-black w-1/2 mb-2"></div>
        <div class="flex justify-between pb-2">
          <span>
          <i class="fa-solid fa-user mr-2"></i> Crea tu cuenta.
          </span>
          <span>
           <i class="fa-solid fa-meteor mr-2"></i> Es facil y rapido.
          </span>
        </div>
        <form action="#">
          <div class="grid grid-cols-2 gap-5">
             <input type="text" placeholder="Nombre" class="border border-gray-400 py-1 px-2">
             <input type="text" placeholder="Apellido" class="border border-gray-400 py-1 px-2">
          </div>
          <div class="mt-5">
           <input type="text" placeholder="Email" class="border border-gray-400 py-1 px-2 w-full">
          </div>
          <div class="mt-5">
            <input type="password" placeholder="Password" class="border border-gray-400 py-1 px-2 w-full">
          </div>
          <div class="mt-5">
            <input type="password" placeholder="Confirm Password" class="border border-gray-400 py-1 px-2 w-full">
          </div>
          <div class="mt-5">
            <input type="checkbox" class="border-gray-400 mr-2">
            <span>Acepto los terminos y condiciones.</span>
          </div>
          <div class="mt-5">
            <button class="w-full bg-orange-500 py-3 text-center text-white- ">Registrarse ahora</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-main-offers></app-main-offers>
